In [21]:
# 1.1 create your own myreduce() function
from functools import reduce

def myreduce(func,seq):
  var = None
  for n in range(1,len(seq)):
    if n == 1:
      var = func(seq[n-1],seq[n])
    else:
      var = func(var,seq[n])
  return vars

l = [1,2,3,4,5]
myreduce(lambda a, b: a if a > b else b,l)

5

In [31]:
# 1.2 create your own myfilter() function

def myfilter(func,seq):
  var = False
  count = 0
  final_vars = []
  for item in seq:
    var = func(item)
    if var:
      count += 1
      final_vars.append(item)
  if count == 0:
    return seq
  else:
    return final_vars

l = [1,2,3,4,5,'Vishank']
list(myfilter(lambda a: a if type(a) == bool else False,l))

[1, 2, 3, 4, 5, 'Vishank']

In [37]:
# 1.3 List comprehension tasks
test_list = ['x','y','z']
final_list = [n*num for n in test_list for num in range(1,5)]
print(final_list)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [38]:
test_list = ['x','y','z']
final_list = [n*num for num in range(1,5) for n in test_list ]
print(final_list)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [40]:
test_list = [2,3,4]
final_list = [[num + addition] for num in test_list for addition in range(0,3)]
print(final_list)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [45]:
test_list = [2,3,4,5]
final_list = [[num + addition for addition in range(0,4)] for num in test_list]
print(final_list)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [46]:
test_list = [1,2,3]
final_list = [(n,i) for i in test_list for n in test_list]
print(final_list)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]